@{
    ViewData["Title"] = "Home Page";
}


<div class="index">
    <div class="index-header"><h2>Welcome! To Online Examination</h2></div>
    <div class="index-text">
        <p>Here you must have to regestration for be the member of online examination system.</p>
        <p>To know exam schedule please check below.</p>
    </div>

    <div class="index-columns">

        <div class="index-columns-column">
            <img src="~/images/exam.png" />
            <h3>Exam Schedule</h3>
            <p>Exam date and time details</p>
            <a href="#" class="btn">Show Schedule</a>
        </div>
        <div class="index-columns-column">
            <img src="~/images/result.png" />
            <h3>Result</h3>
            <p>Result and rank of the students</p>
            <a href="/Home/Result" class="btn">Show Result</a>
        </div>

    </div>
</div>