* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

body {
  background-color: #ecf0f1; }

.btn {
  padding: 7px 10px;
  text-decoration: none;
  background-color: #bdc3c7; }

.header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/exam.jpg");
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .header nav {
    width: 100%;
    margin-top: 3rem; }
    .header nav ul {
      float: right;
      margin-right: 20%; }
      .header nav ul li {
        list-style-type: none;
        float: left;
        display: inline-block; }
        .header nav ul li a {
          text-decoration: none;
          padding: 10px 16px;
          font-size: 1.6rem;
          color: #e67e22; }
          .header nav ul li a:hover {
            border-bottom: 1px dashed #f39c12;
            color: #f39c12; }

.index {
  padding: 0px 20px;
  width: 100%; }
  .index-header {
    width: 50%;
    margin: auto; }
    .index-header h2 {
      text-align: center; }
  .index-text {
    width: 100%;
    text-align: center;
    font-size: 1.8rem; }
  .index-columns {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    @media (min-width: 320px) and (max-width: 480px) {
      .index-columns {
        flex-direction: column; } }
    .index-columns-column {
      flex: 1;
      text-align: center;
      padding: 10px; }
      .index-columns-column img {
        width: 60px; }

.schedule {
  width: 80%;
  margin: auto;
  text-align: center; }
  .schedule ul li {
    list-style: none; }
  .schedule-table {
    border-collapse: separate;
    width: 100%; }
    .schedule-table td, .schedule-table th {
      padding: 8px;
      text-align: left; }
    .schedule-table tr:nth-child(even) {
      background-color: #f2f2f2; }
    .schedule-table th {
      background-color: #333;
      color: white; }

.exam_details {
  width: 80%;
  margin: auto;
  text-align: center;
  height: 50vh; }
  .exam_details h3 {
    text-align: center; }
  .exam_details p {
    text-align: center; }
  .exam_details-date_marks {
    display: inline-block;
    width: 100%; }
    .exam_details-date_marks-1st {
      float: left;
      margin: 0; }
    .exam_details-date_marks-2nd {
      float: right;
      margin: 0; }

.clearfix {
  display: inline-block; }
  .clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
